.a12feddad906b9140a27fa88bcdc70 {
  position: relative;
  width: 100%;
  height: 825px;
  background-image: url(./public/a12feddad906b9140a27fa88bcdc70b7-2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
