.d0976a3904564ea8e552501f681548 {
  position: relative;
  width: 100%;
  height: 245px;
  background-image: url(./public/4d0976a3904564ea8e552501f6815487-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
