.e13a32e4ca8f2d3563612647cc3ff01 {
  position: relative;
  width: 100%;
  height: 1086px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  background-image: url(./public/13284-e13a32e4ca8f2d3563612647cc3ff0ca-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
