.id-malavida-1-1 {
  position: relative;
  width: 100%;
  height: 1088px;
  background-image: url(./public/idmalavida1-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
