.images-1 {
  position: relative;
  width: 100%;
  height: 315px;
  background-image: url(./public/images-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
