.e13a32e4ca8f2d3563612647cc3ff0-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
}
.group-child5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  backdrop-filter: blur(20px);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 329px;
  height: 1086px;
}
.group-child6,
.group-child7 {
  position: absolute;
  top: 0;
  left: 324px;
  background-color: var(--color-gainsboro);
  width: 1596px;
  height: 1086px;
}
.group-child7 {
  top: 1px;
  background-color: var(--color-white);
  height: 1085px;
}
.frame-25-button-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mediumorchid-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 75px;
}
.about-me5 {
  position: absolute;
  top: 8px;
  left: 5px;
  font-size: var(--font-size-26xl);
  display: inline-block;
  font-weight: 700;
  font-family: var(--font-inria-sans);
  color: var(--color-goldenrod);
  text-align: center;
  width: 245px;
  height: 37px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.frame-25-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 1342px;
  width: 250px;
  height: 75px;
}
.frame-26-button-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mediumorchid-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  width: 180px;
  height: 75px;
}
.project5 {
  position: absolute;
  top: 10px;
  left: 3px;
  font-size: var(--font-size-26xl);
  display: inline-block;
  font-weight: 700;
  font-family: var(--font-inria-sans);
  color: var(--color-white);
  text-align: center;
  width: 177px;
  height: 37px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.frame-26-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 1616px;
  width: 180px;
  height: 75px;
}
.frame-24-button-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mediumorchid-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  width: 179px;
  height: 75px;
}
.home5 {
  position: absolute;
  top: 10px;
  left: 4px;
  font-size: var(--font-size-26xl);
  display: inline-block;
  font-weight: 700;
  font-family: var(--font-inria-sans);
  color: var(--color-goldenrod);
  text-align: center;
  width: 175px;
  height: 37px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.frame-24-button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 1129px;
  width: 179px;
  height: 75px;
}
.a12feddad906b9140a27fa88bcdc70-icon2,
.id-malavida-1-1-icon1 {
  position: absolute;
  top: 153px;
  left: 1135px;
  width: 660px;
  height: 825px;
  object-fit: cover;
}
.id-malavida-1-1-icon1 {
  top: 0;
  left: 681px;
  width: 402px;
  height: 1088px;
}
.d0976a3904564ea8e552501f681548-icon1,
.icon1,
.images-1-icon1 {
  position: absolute;
  top: 56px;
  left: 377px;
  width: 252px;
  height: 315px;
  object-fit: cover;
}
.d0976a3904564ea8e552501f681548-icon1,
.images-1-icon1 {
  top: 715px;
}
.d0976a3904564ea8e552501f681548-icon1 {
  top: 420px;
  height: 245px;
}
.group-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1088px;
}
.trang-31 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
}
