.e13a32e4ca8f2d3563612647cc3ff0-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  object-fit: cover;
}
.group-child8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  backdrop-filter: blur(20px);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 329px;
  height: 1086px;
}
.group-child10,
.group-child9 {
  position: absolute;
  top: 0;
  left: 324px;
  background-color: var(--color-gainsboro);
  width: 1596px;
  height: 1086px;
}
.group-child10 {
  top: 1px;
  background-color: var(--color-white);
  height: 1085px;
}
.about-me6 {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: var(--font-size-26xl);
  display: inline-block;
  font-weight: 700;
  font-family: var(--font-inria-sans);
  color: var(--color-white);
  text-align: center;
  width: 250px;
  height: 65px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.frame-19-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-mediumorchid-100);
  position: absolute;
  top: 50px;
  left: 1342px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 75px;
}
.project6 {
  position: absolute;
  top: 10px;
  left: 4px;
  font-size: var(--font-size-26xl);
  display: inline-block;
  font-weight: 700;
  font-family: var(--font-inria-sans);
  color: var(--color-goldenrod);
  text-align: center;
  width: 175px;
  height: 37px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.frame-18-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-mediumorchid-100);
  position: absolute;
  top: 50px;
  left: 1616px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  width: 180px;
  height: 75px;
}
.home6 {
  position: absolute;
  top: 10px;
  left: 2px;
  font-size: var(--font-size-26xl);
  display: inline-block;
  font-weight: 700;
  font-family: var(--font-inria-sans);
  color: var(--color-goldenrod);
  text-align: center;
  width: 175px;
  height: 37px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.frame-20-button2,
.frame-child10,
.frame-child11 {
  position: absolute;
  background-color: var(--color-mediumorchid-100);
}
.frame-20-button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  top: 50px;
  left: 1129px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  width: 179px;
  height: 75px;
}
.frame-child10,
.frame-child11 {
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
  width: 316px;
  height: 328px;
}
.frame-child11 {
  top: 91px;
  left: 112px;
  background-color: var(--color-goldenrod);
}
.p-20220626-140807-copy-12 {
  position: absolute;
  top: 21px;
  left: 26px;
  width: 390px;
  height: 388px;
  object-fit: cover;
}
.rectangle-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 428px;
  height: 419px;
}
.name-duong-trong2 {
  margin-block-start: 0;
  margin-block-end: 14px;
}
.studenttdmueduvn2 {
  margin: 0;
}
.name-duong-trong-container2 {
  position: absolute;
  top: 454px;
  left: 26px;
  font-weight: 300;
}
.frame-parent1 {
  position: absolute;
  top: 187px;
  left: 471px;
  width: 651px;
  height: 804px;
}
.frame-child12,
.frame-child13,
.frame-child14,
.frame-child15 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 93px;
  height: 42px;
}
.frame-child13,
.frame-child14,
.frame-child15 {
  top: 105px;
  height: 44px;
}
.frame-child14,
.frame-child15 {
  top: 208px;
  width: 66px;
  height: 41px;
}
.frame-child15 {
  top: 324px;
  left: 9px;
  width: 133px;
  height: 34px;
}
.rectangle-parent3 {
  position: absolute;
  top: 93px;
  left: 53px;
  width: 142px;
  height: 358px;
}
.adobe-photoshop2 {
  position: absolute;
  top: 108px;
  left: 66px;
  font-weight: 300;
}
.frame-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 805px;
  height: 702px;
  background-image: url(./public/screenshot-1-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.visual-studio-code2 {
  position: absolute;
  top: 320px;
  left: 62px;
  font-weight: 300;
}
.adobe-illustrator2,
.adobe-premiere2 {
  position: absolute;
  top: 424px;
  left: 66px;
  font-weight: 300;
}
.adobe-illustrator2 {
  top: 215px;
  left: 65px;
}
.frame-parent2 {
  position: absolute;
  top: 295px;
  left: 1017px;
  width: 805px;
  height: 702px;
}
.e13a32e4ca8f2d3563612647cc3ff0-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1086px;
}
.trang-21 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
